[Unit]
Description=DedoDuro

[Service]
User=root
WorkingDirectory=/opt/dedoduro/
ExecStart=/bin/bash dedoduro.sh 

[Install]
WantedBy=multi-user.target
